*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --soft-red: rgb(253, 62, 28);
    --gray: rgb(151, 151, 151);
    --soft-gray: rgb(197, 197, 197);
    --bright-red: rgb(255, 12, 12);
}

/* ------------------------------------------- HEADER ----------------------------- */

/* .navContainer{

} */

.navBar{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

.eCom{
    padding-left: 1rem ;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: var(--soft-red);
}
.eCom:hover{
    color: var(--soft-red);
}

.links{
    display: flex;
}


.link{
    padding: .8rem 1.1rem;
    border-left: 1px solid ;
    font-size: 15px;
    color: var(--soft-red);
}
.link:hover{
    color: var(--soft-red);
    transform: scale(1.1);
    transition: .2s;
}

/* ------------------------------------------------ HOME ---------------------- */
.homeContainer{
    position: relative;
    padding: 2rem;
}

.categoriesContainer{
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem 1rem;
    /* align-items: flex-start; */
    /* width: 80%; */
}
.categoriesMenu{
    display: flex;
    gap: 1rem;
    /* flex-direction: column; */
    /* align-items: center; */
}


.categories{
    display: flex;
    flex-direction: column;
}

.categoriesArrow{
    border: none;
    background-color: transparent;
}


.category{
    border: none;
    background-color: transparent;
    text-align: left;
    color: var(--soft-red);
    font-weight: bold;
    margin-left: 1rem;
}

.inputContainer{
  margin-bottom: 1rem;
  font-weight: bold;
  /* margin: ; */
}

.inputSearch{
    width: 250px;
}

.searchButton{
    width: 70px;
    height: 29px;
    border: none;
    background-color: var(--soft-red);
    color: white;

}

.productsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

ul{
    margin-left: -2.5rem;
}

.cardsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    border: 1px solid var(--soft-gray);
    width: 310px;
    height: 380px;
    margin: 1rem;
}

.imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--soft-gray);
}

.listProduct{
    text-align: center;
    font-size: 18px;
}
.listProductPrice{
    text-align: left;
}
/* ------------------------------- Tablet Size----------- */

@media screen and (min-width: 800px) and (max-width: 1024px){

    .cardsContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background-color: aqua;
    }


}    


