*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --soft-red: rgb(255, 94, 66);
    --gray: rgb(151, 151, 151);
    --soft-gray: rgb(197, 197, 197);
    --bright-red: rgb(255, 12, 12);
}

/* ------------------------------------------- HEADER ----------------------------- */

/* .navContainer{

} */

.navBar{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

.eCom{
    padding-left: 1rem ;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: var(--soft-red);
}
.eCom:hover{
    color: var(--soft-red);
}

.links{
    display: flex;
}


.link{
    padding: .8rem 1.1rem;
    border-left: 1px solid ;
    font-size: 15px;
    color: var(--soft-red);
}
.link:hover{
    color: var(--soft-red);
    transform: scale(1.1);
    transition: .2s;
}

/* ------------------------------------------------ HOME ---------------------- */
.homeContainer{
    position: relative;
    padding: 2rem;
}

.filtersContainer{
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem 1rem;
}

.categoriesMenu{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.categories{
    display: flex;
    flex-direction: column;
}

.categoriesArrow{
    border: none;
    background-color: transparent;
}

.category{
    border: none;
    background-color: transparent;
    text-align: left;
    color: var(--soft-red);
    font-weight: bold;
    text-align: center;
}

.priceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.priceMenu{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.priceInputs{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    gap: .2rem;
}

.priceInputs{
    border-radius: .2rem;
}


.priceBtns{
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    max-width: 300px;
}

.priceBtn{
    margin: 0rem .5rem 0rem .5rem;
    width: 40%;
    height: 40px;
    border: none;
    background-color: var(--soft-red);
    color: white;
    font-weight: bold;
    border-radius: .5rem;
}

.inputForm{
    padding: 1rem;
    width: 100%;
    max-width: 500px;
}

.inputSearch{
    width: 70%;
    height: 40px;
}

.searchButton{
    width: 30%;
    height: 40px;
    border: none;
    background-color: var(--soft-red);
    color: white;
}

.productsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
}


.cardsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.productsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    width: 310px;
    height: 380px;
    margin: 0rem;
    border: 1px solid var(--soft-gray);
}

.imgContainer{
    border-bottom: 1px solid var(--soft-gray); 
    position: relative;
   display: flex;
   justify-content: center;
}

.listImg0{
 height: 190px;
 padding: 1rem;
 border-bottom: 1px solid var(--soft-gray);
}

.listImg1{
    background-color: white;
    height: 200px;
    object-fit: scale-down;
    padding: 1.5rem;
    position: absolute;
    width: 100%;
    height: 100%;
}
.listImg1:hover{
    opacity: 0;
    transition: 1s;
}

.listProduct{
    text-align: center;
    font-size: 18px;
    padding: .3rem;
}
.listProductPrice{
    text-align: left;
}


/* =============================================================== DETAILED pRODUCT ======================================= */
.detailedProductContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 3rem 0rem;
}

.selectedProductContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectedTitle{
    margin: 1rem;
    color: var(--soft-red);
}

/*  ====================== CAROUSEL */

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    padding: 1rem 1.5rem;
}

.carouselImg{
  width: 90%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.barContainer{
    /* background-color: aqua; */
    height: 15px;
    width: 30%;
    position: absolute;
    bottom: -.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}


/* ================= BARRA DE SELECCTION  */

.bar1{
    height: 5px;
    width: 33.3%;
    background-color: var(--gray);
    border-radius: .2rem;
    border: none;
}

.bar2{
    height: 5px;
    width: 33.3%;
    background-color: var(--gray);
    border-radius: .2rem;
    border: none;
}
.bar3{
    height: 5px;
    width: 33.3%;
    background-color: var(--gray);
    border-radius: .2rem;
    border: none;
}

.bar1:focus{
    background-color: var(--soft-red);        
}
.bar2:focus{
    background-color: var(--soft-red);        
}
.bar3:focus{
    background-color: var(--soft-red);         
}

.grey{
    height: 5px;
    width: 33.3%;
    background-color: var(--gray);
    border-radius: .2rem;
    border: none;
}
.bar1r{
    height: 5px;
    width: 33.3%;
    background-color: var(--soft-red);
    border-radius: .2rem;
    border: none;
}
.bar2r{
    height: 5px;
    width: 33.3%;
    background-color: var(--soft-red);
    border-radius: .2rem;
    border: none;
}
.bar3r{
    height: 5px;
    width: 33.3%;
    background-color: var(--soft-red);
    border-radius: .2rem;
    border: none;
}

.carouselBtn{
    background-color: var(--soft-red);
    padding: .4rem;
    border: none;
    border-radius: 100%;
}

.fa-angle-right{
    color: white;
}
.fa-angle-left{
    color: white;
}


.productDescription{
    padding: 1rem;
    margin-top: 1rem;
    /* background-color: blue; */
}

.productText{
    font-size: 17px;
}


.relatedText{
    text-align: center;
    margin: 1rem;
    color: var(--soft-red);
}


.addToCart{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

.addInput{
    width: 20%;
    text-align: center;
    /* border: 2px solid black; */
    border-radius: .5rem 0rem 0rem .5rem;
}

.addBtn{

    width: 40%;
    height: 40px;
    border: none;
    background-color: var(--soft-red);
    color: white;
    font-weight: bold;
    border-radius: 0rem .5rem .5rem 0rem;
}


/* ------------------------------- Login ---------------- */

.loginContainer{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formContainer{
    border-radius: 1rem;
    padding: 2rem;
    background-color: rgba(15, 189, 241, 0.096);
    width: 100%;
}

.formBtn{
    background-color: var(--soft-red);
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
}



/* =============================== Cart =============================== */

.offcanvas-body {
    flex-grow: 1;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout{
    background-color: var(--soft-red);
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
}

.deleteBtn{
    margin: 1rem;
    border: none;
    position: relative;
    right: -18rem;
}

.fa-trash-can{
    color: var(--soft-red);
    font-size: 30px;
    border: none;
    background-color: transparent;
}



/*  ============================= PURCHASES =========================== */

.purchasesContainer{
    padding: 2rem;
}

.purchasesLink{
    text-decoration: none;
}

.purchaseProduct{
    color: var(--soft-red);
}


/* ------------------------------- Tablet Size----------- */

@media screen and (min-width: 770px) and (max-width: 1079px){

    .eCom{
        padding-left: 3rem ;
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;
        color: var(--soft-red);
    }

    .link{
        padding: .8rem 2.2rem;
        border-left: 1px solid ;
        font-size: 17px;
    }

    .cardsContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        
    }
    
    .inputSearch{
        height: 50px;
        font-size: 20px;
    }
    
    .searchButton{
        height: 50px;
        font-size: 20px;
    }

    .inputForm{
        padding: 1rem;
        width: 100%;
        max-width: 600px;
    }

    /* ======================================= Product detailed */
    
.selectedProductContainer{
    flex-direction: row;
    gap: 2rem;
}

.carousel{
    width: 40%;
}

.productDescription{

    padding: 1rem;
    width: 60%;
}

.productText{
    font-size: 17px;
}

/* ============================================= Login */

.formContainer{
    width: 60%;
}

}    



@media screen and (min-width: 1080px) {

    .eCom{
        padding-left: 3rem ;
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;
        color: var(--soft-red);
    }
  
    .links{
        display: flex;
    }

    .link{
        padding: 1.2rem 3.3rem;
        border-left: 1px solid ;
        font-size: 16px;
        color: var(--soft-gray);
    }

    .homeContainer{
        display: flex;
        margin-top: 1rem;
        justify-content: space-evenly;
    }

    .filtersContainer{
        width: 15%;
    }

    .productsContainer{
        width: 90%;
    }

    .productsList{
        gap: 1.5rem;
        padding: 2rem;
    }

    .inputForm{
        padding: 1rem;
        width: 100%;
        max-width:750px;
    }

    .listImg{
      /* padding: 1rem; */
    }

    .productCard{
        border: 1px solid var(--soft-gray);
        width: 310px;
        height: 380px;
        margin: 0rem;
    }
      
      .inputSearch{
          height: 55px;
          font-size: 20px;
      }
      .inputSearch:focus{
        border: 3px solid var(--bright-red);
      }
      
      .searchButton{
          height: 55px;
          position: relative;
          bottom: 3px;
          font-weight: bolder;
      }

      .searchButton:hover{
        /* border: 1px solid black; */
        box-shadow: 0px 0px 5px 2px var(--bright-red);
      }

      .categoriesArrow:hover{
        color: var(--bright-red);
        transform: scale(1.1);
      }

      .categories{
        /* justify-content: left; */
        align-items: flex-start;
      }

      .category{
        border: none;
        background-color: transparent;
        text-align: left;
        color: var(--soft-gray);
        font-weight: bold;
        text-align: center;
    }

      .category:hover{
        color: var(--soft-red);
      }

      .priceBtn:hover{
        box-shadow: 0px 0px 5px 2px var(--bright-red);
      }
    

      .listProduct :hover{
        color: var(--bright-red);
    }

    .priceInputs{
        padding: 1rem 0rem;
        max-width: 200px;
    }
    
    .priceInputs{
        border-radius: .2rem;
    }
    
    
    .priceBtns{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        padding: 1rem 0rem;
        width: 100%;
        max-width: 300px;
    }
    
    .priceBtn{
        margin: 0rem .5rem 0rem .5rem;
        width: 40%;
        height: 40px;
        border: none;
        background-color: var(--soft-red);
        color: white;
        font-weight: bold;
        border-radius: .5rem;
    }
/* ======================================= Product detailed */
       
.selectedProductContainer{
    flex-direction: row;
    gap: 2rem;
}

.carousel{
    width: 40%;
}

.productDescription{

    padding: 1rem;
    width: 60%;
}

.productText{
    font-size: 22px;
}


/*  ====================================== login  */


.formContainer{
    width: 60%;
}
}    

/* @media screen and (min-width: 1540px) {


    .cardsContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 1616px;
    }

}     */


